<aside class="w-64 h-screen fixed">
    <div class="h-full bg-gray-50 dark:bg-gray-800 px-3 py-4">
        <ul class="nav justify-content-center text text-neutral-50">
            <li class="nav-item  hover:text-white flex hover:bg-slate-500  rounded-md">
                <a href="/admin/dashboard" class="flex p-3 items-center grow">
                    <div class=" w-5">
                        <img src="/images/dashboard.png" alt="">
                    </div>
                    <span class="nav-link active mx-2 items-center h-full font-bold">
                        Dash board
                    </span>
                </a>
            </li>
            <li class="nav-item  hover:text-white flex  hover:bg-slate-500  rounded-md">
                <a href="/admin/add-new-user" class="flex p-3 items-center grow">
                    <div class=" w-5">
                        <img class="" src="/images/line-chart.png" alt="">
                    </div>
                    <span class="nav-link active mx-2 items-center h-full font-bold">
                        Add User
                    </span>
                </a>
            </li>
            <li class="nav-item  hover:text-white flex  hover:bg-slate-500  rounded-md">
                <a href="" class="flex p-3 items-center grow">
                    <div class=" w-5">
                        <img class="" src="/images/logout.png" alt="">
                    </div>
                    <span class="nav-link active mx-2 items-center h-full font-bold">
                        Log out
                    </span>
                </a>
            </li>
        </ul>
    </div>
</aside>